/*
  Copyright © 2022 Riccardo Foglio <riccardo.fogliopara@gmail.com>
  Free for personal use; see 'LICENSE.md' for details.
  https://github.com/RiccardoFoglio/Stats-Project
*/

@media print,
screen and (max-width: 767px) {
    .box-score-header {
        display: block;
    }
}

.sidearm-table {
    width: 100%;
    border-collapse: collapse;
}

.sidearm-table th,
.sidearm-table td {
    word-break: normal;
    font-size: 0.9em;
}

.sidearm-table thead {
    background: none;
}

.sidearm-table thead th {
    font-weight: bold;
    padding: 4px 8px;
    font-style: italic;
    color: #494949;
    vertical-align: bottom;
}

.sidearm-table tbody tr {
    border-top: 1px solid #cccccc;
    background: none;
}

.sidearm-table tbody tr th {
    text-align: left;
    font-weight: normal;
}

.sidearm-table tbody tr th[scope=colgroup] {
    background-color: #e5e5e5;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.sidearm-table tbody tr td,
.sidearm-table tbody tr th {
    padding: 4px 8px;
    color: #494949;
    border: 1px solid #cccccc;
    vertical-align: top;
}


.sidearm-table tbody tr td.emphasize,
.sidearm-table tbody tr th.emphasize {
    background-color: #e5e5e5;
    font-weight: bold;
}

.sidearm-table tbody tr:hover th:not([scope=colgroup]),
.sidearm-table tbody tr:hover td {
    background-color: #e5e5e5;
}

.sidearm-table tfoot tr {
    background-color: #e5e5e5;
    border-top: 1px solid white;
}

.sidearm-table tfoot tr:nth-child(odd),
.sidearm-table tfoot tr:nth-child(even) {
    background-color: #e5e5e5;
}

.sidearm-table tfoot th,
.sidearm-table tfoot td {
    padding: 4px 8px;
    font-weight: bold;
    color: #494949;
    text-align: left;
}

.sidearm-table[class*="collapse"] {
    display: block;
}

.sidearm-table[class*="collapse"] thead {
    display: none;
}

.sidearm-table[class*="collapse"] tbody,
.sidearm-table[class*="collapse"] tfoot,
.sidearm-table[class*="collapse"] tr,
.sidearm-table[class*="collapse"] td,
.sidearm-table[class*="collapse"] th,
.sidearm-table[class*="collapse"] caption {
    display: block;
}

.sidearm-table[class*="collapse"] tbody tr:before,
.sidearm-table[class*="collapse"] tfoot tr:before,
.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    content: "";
    display: table;
}

.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr:before,
.sidearm-table[class*="collapse"] tfoot tr:before,
.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    content: "";
    display: table;
}

.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr td,
.sidearm-table[class*="collapse"] tfoot tr td,
.sidearm-table[class*="collapse"] tbody tr th,
.sidearm-table[class*="collapse"] tfoot tr th {
    padding: 0.25em 8px;
    font-size: 1em;
    border: none;
}

.sidearm-table[class*="collapse"] tbody tr td[data-label],
.sidearm-table[class*="collapse"] tfoot tr td[data-label],
.sidearm-table[class*="collapse"] tbody tr th[data-label],
.sidearm-table[class*="collapse"] tfoot tr th[data-label] {
    text-align: right !important;
}

.sidearm-table[class*="collapse"] tbody tr td[data-label]:before,
.sidearm-table[class*="collapse"] tfoot tr td[data-label]:before,
.sidearm-table[class*="collapse"] tbody tr th[data-label]:before,
.sidearm-table[class*="collapse"] tfoot tr th[data-label]:before {
    text-align: left !important;
    content: attr(data-label);
    display: block;
    width: 50%;
    float: left;
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr td.hide-label:before,
.sidearm-table[class*="collapse"] tfoot tr td.hide-label:before,
.sidearm-table[class*="collapse"] tbody tr th.hide-label:before,
.sidearm-table[class*="collapse"] tfoot tr th.hide-label:before {
    content: '';
}

.sidearm-table[class*="collapse"] tbody tr td+td,
.sidearm-table[class*="collapse"] tfoot tr td+td,
.sidearm-table[class*="collapse"] tbody tr th+td,
.sidearm-table[class*="collapse"] tfoot tr th+td,
.sidearm-table[class*="collapse"] tbody tr td+th,
.sidearm-table[class*="collapse"] tfoot tr td+th,
.sidearm-table[class*="collapse"] tbody tr th+th,
.sidearm-table[class*="collapse"] tfoot tr th+th {
    border: none;
}

.sidearm-table[class*="collapse"] tbody tr td:empty,
.sidearm-table[class*="collapse"] tfoot tr td:empty,
.sidearm-table[class*="collapse"] tbody tr th:empty,
.sidearm-table[class*="collapse"] tfoot tr th:empty {
    padding: 0;
}


.sidearm-table[class*="collapse"] thead {
    display: none;
}

.sidearm-table[class*="collapse"] tbody,
.sidearm-table[class*="collapse"] tfoot,
.sidearm-table[class*="collapse"] tr,
.sidearm-table[class*="collapse"] td,
.sidearm-table[class*="collapse"] th,
.sidearm-table[class*="collapse"] caption {
    display: block;
}

.sidearm-table[class*="collapse"] tbody tr:before,
.sidearm-table[class*="collapse"] tfoot tr:before,
.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    content: "";
    display: table;
}

.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr:before,
.sidearm-table[class*="collapse"] tfoot tr:before,
.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    content: "";
    display: table;
}

.sidearm-table[class*="collapse"] tbody tr:after,
.sidearm-table[class*="collapse"] tfoot tr:after {
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr td,
.sidearm-table[class*="collapse"] tfoot tr td,
.sidearm-table[class*="collapse"] tbody tr th,
.sidearm-table[class*="collapse"] tfoot tr th {
    padding: 0.25em 8px;
    font-size: 1em;
    border: none;
}

.sidearm-table[class*="collapse"] tbody tr td[data-label],
.sidearm-table[class*="collapse"] tfoot tr td[data-label],
.sidearm-table[class*="collapse"] tbody tr th[data-label],
.sidearm-table[class*="collapse"] tfoot tr th[data-label] {
    text-align: right !important;
}

.sidearm-table[class*="collapse"] tbody tr td[data-label]:before,
.sidearm-table[class*="collapse"] tfoot tr td[data-label]:before,
.sidearm-table[class*="collapse"] tbody tr th[data-label]:before,
.sidearm-table[class*="collapse"] tfoot tr th[data-label]:before {
    text-align: left !important;
    content: attr(data-label);
    display: block;
    width: 50%;
    float: left;
    clear: both;
}

.sidearm-table[class*="collapse"] tbody tr td.hide-label:before,
.sidearm-table[class*="collapse"] tfoot tr td.hide-label:before,
.sidearm-table[class*="collapse"] tbody tr th.hide-label:before,
.sidearm-table[class*="collapse"] tfoot tr th.hide-label:before {
    content: '';
}

.sidearm-table[class*="collapse"] tbody tr td+td,
.sidearm-table[class*="collapse"] tfoot tr td+td,
.sidearm-table[class*="collapse"] tbody tr th+td,
.sidearm-table[class*="collapse"] tfoot tr th+td,
.sidearm-table[class*="collapse"] tbody tr td+th,
.sidearm-table[class*="collapse"] tfoot tr td+th,
.sidearm-table[class*="collapse"] tbody tr th+th,
.sidearm-table[class*="collapse"] tfoot tr th+th {
    border: none;
}

.sidearm-table[class*="collapse"] tbody tr td:empty,
.sidearm-table[class*="collapse"] tfoot tr td:empty,
.sidearm-table[class*="collapse"] tbody tr th:empty,
.sidearm-table[class*="collapse"] tfoot tr th:empty {
    padding: 0;
}

select,
button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}

/* GRID */

.row {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row.pad {
    padding-left: 8px;
    padding-right: 8px;
}

.row [class^='x-large'],
.row [class^='large'],
.row [class^='medium'] {
    width: 100%;
}

.column,
.columns {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    float: left;
    min-height: 1px;
}

/* VISIBILITY UTILITIES */

.hide,
.hide-on-small-down,
.hide-on-medium-down {
    display: none !important;
    display: none !important;
}

h3.hide,
h3.hide-on-small-down,
h3.hide-on-medium-down,
caption.hide,
caption.hide-on-small-down,
caption.hide-on-medium-down {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

h3.hide,
h3.hide-on-small-down,
h3.hide-on-medium-down,
caption.hide,
caption.hide-on-small-down,
caption.hide-on-medium-down {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

/* TEXT UTILITIES */

.highlight-hover :not(thead) tr:hover {
    background-color: #e5e5e5;
}

.text-bold{
    font-weight: bold !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-center {
    text-align: center !important;
}

.text-hide {
    text-indent: -9999px !important;
    text-align: left !important;
    text-indent: -9999px !important;
    text-align: left !important;
}

/* MEDIUM */

@media screen and (min-width: 540px) {

    .hide-on-medium,
    .hide-on-medium-down {
        display: none !important;
        display: none !important;
    }

    h3.hide-on-medium,
    h3.hide-on-medium-down,
    caption.hide-on-medium,
    caption.hide-on-medium-down,
    label.hide-on-medium,
    label.hide-on-medium-down {
        display: block !important;
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    h3.hide-on-medium,
    h3.hide-on-medium-down,
    caption.hide-on-medium,
    caption.hide-on-medium-down,
    label.hide-on-medium,
    label.hide-on-medium-down {
        display: block !important;
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    .hide-on-small-down{
        display: block !important;
        display: block !important;
    }

    th.hide-on-small-down{
        display: inline !important;
    }

    table.hide-on-small-down{
        display: table !important;
    }

    caption.hide-on-small-down{
        display: table-caption !important;
    }

    thead.hide-on-small-down{
        display: table-header-group !important;
    }

    tbody.hide-on-small-down{
        display: table-row-group !important;
    }

    tfoot.hide-on-small-down{
        display: table-footer-group !important;
    }

    tr.hide-on-small-down{
        display: table-row !important;
    }

    td.hide-on-small-down,
    th.hide-on-small-down{
        display: table-cell !important;
    }

    span.hide-on-small-down{
        display: inline !important;
    }

    img.hide-on-small-down{
        display: inline-block !important;
    }

    h3.hide-on-small-down,
    label.hide-on-small-down{
        position: static;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }

    th.hide-on-small-down{
        display: inline !important;
    }

    table.hide-on-small-down{
        display: table !important;
    }

    caption.hide-on-small-down{
        display: table-caption !important;
    }

    thead.hide-on-small-down{
        display: table-header-group !important;
    }

    tbody.hide-on-small-down{
        display: table-row-group !important;
    }

    tfoot.hide-on-small-down {
        display: table-footer-group !important;
    }

    tr.hide-on-small-down{
        display: table-row !important;
    }

    td.hide-on-small-down,
    th.hide-on-small-down{
        display: table-cell !important;
    }

    span.hide-on-small-down{
        display: inline !important;
    }

    img.hide-on-small-down{
        display: inline-block !important;
    }

    h3.hide-on-small-down,
    label.hide-on-small-down{
        position: static;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
}

/* LARGE */

@media screen and (min-width: 768px) {

    .hide-on-large {
        display: none !important;
        display: none !important;
    }

    h3.hide-on-large,
    caption.hide-on-large,
    label.hide-on-large {
        display: block !important;
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    h3.hide-on-large,
    caption.hide-on-large,
    label.hide-on-large{
        display: block !important;
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    .hide-on-medium-down{
        display: block !important;
        display: block !important;
    }

    th.hide-on-medium-down {
        display: inline !important;
    }

    table.hide-on-medium-down {
        display: table !important;
    }

    caption.hide-on-medium-down {
        display: table-caption !important;
    }

    thead.hide-on-medium-down {
        display: table-header-group !important;
    }

    tbody.hide-on-medium-down {
        display: table-row-group !important;
    }

    tfoot.hide-on-medium-down {
        display: table-footer-group !important;
    }

    tr.hide-on-medium-down {
        display: table-row !important;
    }

    td.hide-on-medium-down,
    th.hide-on-medium-down {
        display: table-cell !important;
    }

    span.hide-on-medium-down {
        display: inline !important;
    }

    img.hide-on-medium-down {
        display: inline-block !important;
    }

    h3.hide-on-medium-down,
    label.hide-on-medium-down {
        position: static;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }

    th.hide-on-medium-down {
        display: inline !important;
    }

    table.hide-on-medium-down {
        display: table !important;
    }

    caption.hide-on-medium-down {
        display: table-caption !important;
    }

    thead.hide-on-medium-down {
        display: table-header-group !important;
    }

    tbody.hide-on-medium-down {
        display: table-row-group !important;
    }

    tfoot.hide-on-medium-down {
        display: table-footer-group !important;
    }

    tr.hide-on-medium-down{
        display: table-row !important;
    }

    td.hide-on-medium-down,
    th.hide-on-medium-down {
        display: table-cell !important;
    }

    span.hide-on-medium-down {
        display: inline !important;
    }

    img.hide-on-medium-down {
        display: inline-block !important;
    }

    h3.hide-on-medium-down,
    label.hide-on-medium-down{
        position: static;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }

    .row .row {
        margin-left: -12px;
        margin-right: -12px;
        max-width: none;
    }

    .row .row:before,
    .row .row:after {
        content: "";
        display: table;
    }

    .row .row:after {
        clear: both;
    }

    .row .row:before,
    .row .row:after {
        content: "";
        display: table;
    }

    .row .row:after {
        clear: both;
    }

    .row.pad {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row .large-6 {
        width: 50%;
    }

    .column,
    .columns {
        padding-left: 12px;
        padding-right: 12px;
    }

    .sidearm-table th,
    .sidearm-table td {
        font-size: 1em;
    }

    .sidearm-table.collapse-on-medium {
        display: table;
        display: table;
    }

    .sidearm-table.collapse-on-medium thead {
        display: table-header-group;
    }

    .sidearm-table.collapse-on-medium tbody {
        display: table-row-group;
    }

    .sidearm-table.collapse-on-medium tfoot {
        display: table-footer-group;
    }

    .sidearm-table.collapse-on-medium tr {
        display: table-row;
    }

    .sidearm-table.collapse-on-medium td,
    .sidearm-table.collapse-on-medium th {
        display: table-cell;
    }

    .sidearm-table.collapse-on-medium caption {
        display: table-caption;
    }

    .sidearm-table.collapse-on-medium tbody tr td,
    .sidearm-table.collapse-on-medium tfoot tr td,
    .sidearm-table.collapse-on-medium tbody tr th,
    .sidearm-table.collapse-on-medium tfoot tr th {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .sidearm-table.collapse-on-medium tbody tr td[data-label],
    .sidearm-table.collapse-on-medium tfoot tr td[data-label],
    .sidearm-table.collapse-on-medium tbody tr th[data-label],
    .sidearm-table.collapse-on-medium tfoot tr th[data-label] {
        text-align: left !important;
    }

    .sidearm-table.collapse-on-medium tbody tr td[data-label]:before,
    .sidearm-table.collapse-on-medium tfoot tr td[data-label]:before,
    .sidearm-table.collapse-on-medium tbody tr th[data-label]:before,
    .sidearm-table.collapse-on-medium tfoot tr th[data-label]:before {
        display: none;
    }

    .sidearm-table.collapse-on-medium tbody tr td[data-label].text-center,
    .sidearm-table.collapse-on-medium tfoot tr td[data-label].text-center,
    .sidearm-table.collapse-on-medium tbody tr th[data-label].text-center,
    .sidearm-table.collapse-on-medium tfoot tr th[data-label].text-center {
        text-align: center !important;
    }

    .sidearm-table.collapse-on-medium tbody tr td+td,
    .sidearm-table.collapse-on-medium tfoot tr td+td,
    .sidearm-table.collapse-on-medium tbody tr th+td,
    .sidearm-table.collapse-on-medium tfoot tr th+td,
    .sidearm-table.collapse-on-medium tbody tr td+th,
    .sidearm-table.collapse-on-medium tfoot tr td+th,
    .sidearm-table.collapse-on-medium tbody tr th+th,
    .sidearm-table.collapse-on-medium tfoot tr th+th {
        border-left: 1px solid #cccccc;
    }

    .sidearm-table.collapse-on-medium tbody tr:before,
    .sidearm-table.collapse-on-medium tfoot tr:before,
    .sidearm-table.collapse-on-medium tbody tr:after,
    .sidearm-table.collapse-on-medium tfoot tr:after {
        display: none;
    }

    .sidearm-table.collapse-on-medium thead {
        display: table-header-group;
    }

    .sidearm-table.collapse-on-medium tbody {
        display: table-row-group;
    }

    .sidearm-table.collapse-on-medium tfoot {
        display: table-footer-group;
    }

    .sidearm-table.collapse-on-medium tr {
        display: table-row;
    }

    .sidearm-table.collapse-on-medium td,
    .sidearm-table.collapse-on-medium th {
        display: table-cell;
    }

    .sidearm-table.collapse-on-medium caption {
        display: table-caption;
    }

    .sidearm-table.collapse-on-medium tbody tr td,
    .sidearm-table.collapse-on-medium tfoot tr td,
    .sidearm-table.collapse-on-medium tbody tr th,
    .sidearm-table.collapse-on-medium tfoot tr th {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .sidearm-table.collapse-on-medium tbody tr td[data-label],
    .sidearm-table.collapse-on-medium tfoot tr td[data-label],
    .sidearm-table.collapse-on-medium tbody tr th[data-label],
    .sidearm-table.collapse-on-medium tfoot tr th[data-label] {
        text-align: left !important;
    }

    .sidearm-table.collapse-on-medium tbody tr td[data-label]:before,
    .sidearm-table.collapse-on-medium tfoot tr td[data-label]:before,
    .sidearm-table.collapse-on-medium tbody tr th[data-label]:before,
    .sidearm-table.collapse-on-medium tfoot tr th[data-label]:before {
        display: none;
    }


    .sidearm-table.collapse-on-medium tbody tr td[data-label].text-center,
    .sidearm-table.collapse-on-medium tfoot tr td[data-label].text-center,
    .sidearm-table.collapse-on-medium tbody tr th[data-label].text-center,
    .sidearm-table.collapse-on-medium tfoot tr th[data-label].text-center {
        text-align: center !important;
    }

    .sidearm-table.collapse-on-medium tbody tr td+td,
    .sidearm-table.collapse-on-medium tfoot tr td+td,
    .sidearm-table.collapse-on-medium tbody tr th+td,
    .sidearm-table.collapse-on-medium tfoot tr th+td,
    .sidearm-table.collapse-on-medium tbody tr td+th,
    .sidearm-table.collapse-on-medium tfoot tr td+th,
    .sidearm-table.collapse-on-medium tbody tr th+th,
    .sidearm-table.collapse-on-medium tfoot tr th+th {
        border-left: 1px solid #cccccc;
    }

    .sidearm-table.collapse-on-medium tbody tr:before,
    .sidearm-table.collapse-on-medium tfoot tr:before,
    .sidearm-table.collapse-on-medium tbody tr:after,
    .sidearm-table.collapse-on-medium tfoot tr:after {
        display: none;
    }

    .text-normal-on-large {
        font-weight: normal !important;
    }
}