/*
  Copyright © 2022 Riccardo Foglio <riccardo.fogliopara@gmail.com>
  Free for personal use; see 'LICENSE.md' for details.
  https://github.com/RiccardoFoglio/Stats-Project
*/

.box-score table.overall-stats.full {
    margin-top: 0;
}

.box-score table.overall-stats {
    position: relative;
    margin-top: 20px;
}

.box-score table.overall-stats.full caption {
    padding: 0;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 2;
    border-bottom: 5px solid black;
    text-align: left;
    position: static;
    font-style: normal;
    text-transform: none;
}

.box-score table.overall-stats caption {
    font-size: 1em;
    border: none;
    line-height: 1.2;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    font-style: italic;
}

.box-score table.overall-stats thead th {
    line-height: 1.2;
}

.box-score table.overall-stats tbody tr th.header-group {
    background-color: #e5e5e5;
    color: #494949;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}